.Rocket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.Rocket img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.Rocket-details {
    flex: 1;
    margin-right: 1rem;
}