button {
    color: black;

    padding: 10px;
    border-radius: 10px;
}
button:hover {
    background-color: #00fc00;
}

.Post {
    width: 25%;

    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

    background-color: #f0f0f0 ;
}